.datepicker .datepicker-dropdown .dropdown-menu .datepicker-orient-left .datepicker-orient-bottom {
	    top: 116px;
    left: 542.25px;
    display: block;
}
.attendenceNavLink{
	width:155px;
	padding-right:5px!important;
	padding-left:16px!important;
}